<nav class="navbar navbar-expand "
  style="background-color: #001C30; color:white;">
  <!-- <nav class="navbar navbar-expand-dark" style="background-color: #001C30; color:white;"> -->
  <div class="container-fluid">

    <div class="px-3">
      <img src="/media/pic.jpg" alt="" style="height: 10px;width: 10px;">
    </div>
    <a class="navbar-brand text-white " style="font-weight: 500;padding-left: 10px;" href="#">Query Web</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container px-5" style="display: inline;" id="navbarSupportedContent">
      <div style="float: right;">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item px-3">
            <a class="nav-link active text-white" aria-current="page" href="/teacher/home">Home</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link text-white" href="#">About us</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link text-white" href="#">Contact Us</a>
          </li>
          <li class="nav-item dropdown px-3">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
              <i class="bi bi-person-circle"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Edit Profile</a></li>
              <li><a class="dropdown-item" href="#">Change Password</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </li>

        </ul>
      </div>

    </div>
  </div>
</nav>